@media (max-width: 800px) {
    .side-left{
        max-width: 900px;
        margin-bottom: 20px;
    }

    .side-right{
        max-width: 100%;
        margin-bottom: 20px;
    }

    .side-center{
        max-width: 100%;
        margin-bottom: 20px;
    }

    img{
        max-width: 360px;
    }

    .content-wrapper-11 .side-center{
        max-width: 100%;
    }

    .content-wrapper-11{
        max-width: 100%;
        margin-right: 19%;
    }

    .content-wrapper-11 h2{
        margin-left: 20%;
        max-width: 100%;
    }

    .content-wrapper-9{
        max-width: 90%;
    }

    .content-wrapper-9 .side-left{
        max-width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .content-wrapper-9 .side-right{
        max-width: 100%;
    }

    .content-wrapper-2 img{
        max-width: 95%;
    }

    nav ul{
        display: flex;
        flex-direction: column;
    }

    nav ul li{
        margin-bottom: 10px;
    }

    .referencia{
        max-width: 80%;
        text-align: justify;
    }

    .faq-castle{
        width: 80%;
    }

}