*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(241, 237, 237);
    color: rgb(0, 0, 0);
    overflow-x: hidden;
}

/*Header*/

header{
    height: 70px;
    padding: 10px;
}

header h1{
    margin-top: 10px;
    margin-left: 40px;
    font-family: 'Poller One', cursive;
}

#hrLine{
    width: 95%;
    background-color: rgb(0, 0, 0);
    height: 2px;
    margin-left: auto;
    margin-right: auto;
}

/*Menu*/

.menuNav-wrapper{
    margin-left: 35px;
    margin-top: 15px;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul a li:hover{
    color: rgb(255, 255, 255);
}

nav ul a{
    text-decoration: none;
}

nav ul a li{
    font-size: 17px;
    margin-right: 50px;
}

/*Referencias*/

.referencia-wrapper{
    display: none;
}

.referencia-wrapper .referencia a{
    margin-left: 38px;
    font-size: 18px;
    color: rgb(83, 83, 221);
}

.referencia-wrapper .referencia a:hover{
    color: rgb(223, 26, 26);
}

/*Castelo SR*/

.castle-wrapper{
    display: none;
}

/*Conteudo principal*/
.content-wrapper{
    margin-top: 10%;
    margin-bottom: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

.content-wrapper-2{
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    text-align: center;
    box-shadow: 1px 5px 25px rgb(172, 169, 169);
    padding: 10px;
    border-radius: 10px;
}

.side-right{
    box-shadow: 1px 5px 25px rgb(172, 169, 169);
    padding: 10px;
    border-radius: 10px;
}

.side-left{
    box-shadow: 1px 5px 25px rgb(172, 169, 169);
    padding: 10px;
    border-radius: 10px;
}

p{
    font-family: 'Noto Sans JP', sans-serif;
}

.content-wrapper h2{
    text-align: center;
    margin-bottom: 30px;
}

.content-wrapper .side-left h3{
    text-align: center;
    margin-bottom: 10px;
}

.content-wrapper .side-right h3{
    text-align: center;
    margin-bottom: 10px;
}

.content-wrapper .side-left{
    float: left;
    max-width: 40%;
    margin-top: 35px;
    direction: ltr;
    text-align: justify;
}

.content-wrapper .side-right{
    float: right;
    max-width: 40%;
    margin-bottom: 35px;
    direction: ltr;
    text-align: justify;
}





