*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    box-sizing: border-box;
    font-size: 20px;
    background-color: rgb(41, 41, 41, 0.90);
    overflow-x: hidden;
    color: #ffffff;
}

/*Header*/

header{
    text-align: center;
    color: white;
    height: 70px;
    padding: 10px;
    background-image: url(https://th.bing.com/th/id/OIP.o-YxGJ68dcQ2AlW-2PnFNAHaHa?pid=ImgDet&rs=1);;
    background-repeat: no-repeat;
    background-size: 1350px;
    background-position-y: 60%;
}



header h1{
    margin-top: 10px;
    margin-left: 40px;
    font-family: 'Hammersmith One', sans-serif;
    color: black;
}

/*DarkMode*/
.darkMode{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    right: 0;
    top: 0;
    display: none;
}

.darkMode p{
    color: white;
    font-size: 26px;
    text-align: center;
    margin-top: 10px;
}

.darkMode p:hover{
    color: red;
    cursor: pointer;
}

/*WhiteMode*/
.whiteMode{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: fixed;
    right: 0;
    top: 0;
}

.whiteMode p{
    color: rgb(0, 0, 0);
    font-size: 26px;
    text-align: center;
    margin-top: 10px;
}

.whiteMode p:hover{
    color: red;
    cursor: pointer;
}

.whiteMode p:hover{
    color: red;
    cursor: pointer;
}

/*Outro*/

#hrLine{
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 2px;
    margin-left: auto;
    margin-right: auto;
}

/*Menu*/

.menuNav-wrapper{
    max-width: 80%;
}

nav ul{
    margin-left: 50%;
    transform: translate(-35%);
    padding: 10px;
    display: flex;
    flex-direction: row;
    list-style: none;
    
}

nav ul a li:hover{
    background-color: rgb(181, 203, 235);
    color: rgb(255, 255, 255);
}

nav ul a{
    text-decoration: none;
}

nav ul a li{
    font-size: 19px;
    margin-right: 5px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}

.aba-open{
    display: block;
    background-color: rgb(150, 185, 238);
    height: 4px;
    margin-top: 4px;
    border-radius: 5px;
}

.aba-open2{
    display: none;
    background-color: rgb(150, 185, 238);
    height: 4px;
    margin-top: 4px;
    border-radius: 5px;
}

.aba-open3{
    display: none;
    background-color: rgb(150, 185, 238);
    height: 4px;
    margin-top: 4px;
    border-radius: 5px;
}

/*Referencias*/

.referencia-wrapper{
    display: none;
}

.referencia-wrapper .referencia{
    box-shadow: 1px 5px 25px rgb(172, 169, 169);
    padding: 10px;
    border-radius: 10px;
    width: 900px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.referencia-wrapper .referencia a{
    margin-left: 38px;
    font-size: 18px;
    color: rgb(83, 83, 221);
}

.referencia-wrapper .referencia a:hover{
    color: rgb(223, 26, 26);
}

/*Castelo SR*/

.castle-wrapper{
    display: none;
}

/*IMG*/

img{
    max-width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

/*Conteudo principal*/
.side-center{
    box-shadow: 5px 5px 10px rgb(173, 172, 172);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.side-right{
    box-shadow: 5px 5px 10px rgb(173, 172, 172);
    padding: 10px;
    border-radius: 10px;
    float: right;
    max-width: 40%;
    margin-bottom: 35px;
    direction: ltr;
    text-align: justify;
    border: 1px solid black;
}

.side-left{
    box-shadow: 5px 5px 10px rgb(173, 172, 172);
    padding: 10px;
    border-radius: 10px;
    float: left;
    max-width: 40%;
    margin-top: 35px;
    direction: ltr;
    text-align: justify;
    border: 1px solid black;

}

/*Topico 1*/

.content-wrapper-1{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.content-wrapper-1 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

/*Topico 2*/

.content-wrapper-2{
    margin-top: 80%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.content-wrapper-2 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

/*Topico 3*/

.content-wrapper-3{
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.content-wrapper-3 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.content-wrapper-3 h3{
    text-align: center;
    margin: 5px;
}

/*Topico 4*/

.content-wrapper-4{
    margin-top: 4200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.content-wrapper-4 ul li{
    list-style-type: none;
}

.content-wrapper-4 ul .marcacaoRedLi{
    color: red;
}

.content-wrapper-4 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.content-wrapper-4 h3{
    text-align: center;
}

/*Topico 5*/

.content-wrapper-5{
    margin-top: 1300px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.content-wrapper-5 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

/*Topico 6*/

.content-wrapper-6{
    margin-top: 50%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.content-wrapper-6 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

/*Topico 7*/

.content-wrapper-7{
    margin-top: 700px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.content-wrapper-7 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.marcacaoRedSpan{
    color: red;
}

/*Topico 8*/

.content-wrapper-8{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.content-wrapper-8 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

/*Topico 9*/

.content-wrapper-9{
    margin-top: 600px;
    margin-bottom: 30%;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.content-wrapper-9 .side-right{
    box-shadow: 1px 5px 25px rgb(172, 169, 169);
    padding: 10px;
    border-radius: 10px;
    float: right;
    max-width: 40%;
    margin-bottom: 35px;
    direction: ltr;
    text-align: justify;
    border: 1px solid black;
}

.content-wrapper-9 .side-left{
    box-shadow: 1px 5px 25px rgb(172, 169, 169);
    padding: 10px;
    border-radius: 10px;
    float: left;
    max-width: 40%;
    margin-top: 35px;
    direction: ltr;
    text-align: justify;
    border: 1px solid black;

}

.content-wrapper-9 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.content-wrapper-9 h3{
    text-align: center;
}

/*Topico 10*/

.content-wrapper-10{
    margin-top: 1300px;
    margin-bottom: 30%;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.content-wrapper-10 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.content-wrapper-10 h3{
    text-align: center;
}

/*Topico 11"*/

.content-wrapper-11{
    margin-top: 2900px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.content-wrapper-11 .side-center{
    box-shadow: 1px 5px 25px rgb(172, 169, 169);
    max-width: 50%;
    margin-left: 24%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}


.content-wrapper-11 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.content-wrapper-11 h3{
    text-align: center;
}

/*Footer*/

footer{
    margin-top: 20%;
    background-color: rgb(14, 15, 15);
    color: white;
    padding: 10px;
}

footer h2{
    text-align: center;
}

footer h3{
    margin-bottom: 10px;
    text-align: center;

}

footer p{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

footer ul{
    text-align: center;
}

footer ul li{
    margin-bottom: 10px;
}


